.DS_Store

xcuserdata/
xcshareddata/

WorkspaceSettings.xcsettings

apps/FollowMe/FollowMe.xcodeproj/project.xcworkspace/xcshareddata/FollowMe.xccheckout

build/

Debug/

libs/libAffdex/

*.license
*.License
*.LICENSE
*.lic
*.LIC
License*
license*


